@font-face {
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-family: Roboto-Regular;
}

body {
    margin: 0;
    padding: 0;
    
    /*background-color: #131313;*/
    background-image: url(img/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 7em;
    image-rendering: crisp-edges;

    font-family: Roboto-Regular;
    color: #ededed;
}

#master {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 5em 0 0 0;
    margin: 0;
}

#updates-flow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    margin: 0;
    padding: 0;
}


.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: #090909;
    margin: 0 0 4.2em 0;
    padding: 2em 0;
    min-height: 20em;
    width: 45em;
    text-align: left;
}

.post-title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.post-subtitle {
    font-weight: bold;
    display: block;
    padding: 0 0 1em 0;
    margin: 0;
    text-transform: uppercase;
}

.post-image {    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(0, 0, 0, 0);
    height: 25em;

    padding: 0;
    margin: 1em 0;
}

.post-content {
    margin: 0;
    padding: 0.8em 1.5em;
}

h2 {
    background-color: #090909;
    margin: 0;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
}

#master a:hover {
    text-decoration: underline;
}

#downloads-flow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    padding: 4em 0;
    margin: 0;
}

#downloads-table {
    margin: 0;
    padding: 0;    
}    

#downloads-title {
    text-align: center;    
    margin: 0;
    padding: 0;
}

td {
    min-width: 30em;
    max-width: 30em;
    margin: 0;
    padding: 0;
}


a img {
    width: 0.73em;
    padding: 1em 0 0 0.45em;
}

.warning {
    color: #ffd24a;    
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
}

#chevron {
    width: 2.5em;
    margin: 0 0 7.5em 0;
    padding: 0;
    
}

.chevron {
    width: 1.2em;
    margin: 0 0 0 1em;
    padding: 0;
    transform: translateY(0.3em);
}

.release {
    background-color: #090909; 
    margin: 0;
    padding: 1.5em 3em;
}

.release a {
    margin: 5em 0 0 0;
    padding: 0;
    text-decoration: none;
    color: #32a852;
    float: right;
}

#downloads p {
    padding: 0;
    margin: 0;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

details summary {    
    list-style-type: none;
    cursor: pointer;
    text-align: center;
}

summary span {
    color: #888;
}

details[open=""] summary .chevron {
    transform: scaleY(-1) translateY(-0.3em);
}