@font-face {
    font-family: NotoSansJP;
    src: url("CppNotes/fonts/NotoSansJP-Medium.otf")
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: NotoSansJp;
    color: #fff;
}

#bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;    
    margin: 0;
    padding: 0;
}

#bar p {
    margin: 0;
    padding: 1em 0;
}

#master {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.select-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;    

    transition: 0.25s ease-in-out background-color;
}

#cpp-notes {
    background-color: rgba(156, 52, 81, 0);
}

#cpp-notes:hover {
    background-color: rgba(156, 52, 81, 1);
}

#mc-clone {
    background-color: rgba(71, 148, 43, 0);
}

#mc-clone:hover {
    background-color: rgba(71, 148, 43, 1);
}

.select-block:hover {    
    cursor: pointer;
}