@keyframes fade {
    0% {
        opacity: 0; 
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-family: Roboto-Regular;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #131313;
    font-family: Roboto-Regular;
    color: #ededed;
}

#master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    background-color: #222;
}

h2 {
    background-color: #151515;
    margin: 0;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
}

#master a {
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
    color: #32a852;    
}

#master a:hover {
    text-decoration: underline;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    border-top: 0.4em solid #32a852;
    border-bottom: 0.4em solid #32a852;
    background-image: url("img/hero.jpg");
    background-position: center center;
    background-size: cover;    
    
    padding: 0;
    margin: 0;
    color: #ffffff;    
    width: 100%;    
    height: 100vh;
}

#hero-inner {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    content: "";
    color: rgba(0, 0, 0, 0);
}

#downloads {
    text-align: center;
    background-color: #333333;    
    padding: 4em 0;
    margin: 0;
    width: 100%;
}

a img {
    width: 0.73em;
    padding: 1em 0 0 0.45em;
}

.warning {
    color: #ffd24a;
    opacity: 0;
    animation: fadeInOut 1.1s infinite;
    animation-direction: alternate;
}

#mouse {
    width: 8em;
    margin: 0;
    padding: 2em 0 0.7em 0;
}

#dot {
    width: 0.4em;
    margin: 0;
    padding: 0.5em 0.5em 0 0.5em;
    animation: fade 2.5s infinite;
}

#chevron {
    width: 2.5em;
    margin: 0 0 7.5em 0;
    padding: 0;
    
}

#downloads p {
    padding: 0;
    margin: 0;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
